
<%= form_with model: twit do |form|%>
	<p>
		<%= form.label :name,"Your name"%> <br>
		<%= form.text_field :name %>
		<% twit.errors.full_messages_for(:name).each do |message| %>
		<div class="alert alert-danger"><%= message %></div>
		<% end %>
	</p>
	<p>
		<%= form.label :body,"Your twit" %> <br>
		<%= form.text_area :body %>
		<% twit.errors.full_messages_for(:body).each do |message| %>
		<div class="alert alert-danger"><%=message%></div>
		<% end %>
	</p>
	<p>
		
		<%= form.submit({:class=>'btn btn-succes'}) %>
	</p>
	<% end %>