<% provide :page_title, t('menu.twits')%>
<% currently_at %>
<table>
<tr> <% if user_signed_in? %>
<h2><%=t('menu.twits')%></h2>
<%= link_to t('menu.create'), new_twit_path, class: "btn btn-aware" %></tr>
<tr>&#160 &#160 &#160</tr> 
<tr><%= form_with url: "/search", method: :get do |form| %>
	<%= form.label :query, t('menu.search_for') %>
	<%= form.text_field :query %>
	<%= form.submit t('menu.search') %></tr>
	<%= paginate @twits %>
	<% end %>
	<% else %>
	<h2><%=t('menu.autorize')%></h2>
	<% end %>
</table>
<ul class="q">
	<% if user_signed_in? %>
	<% @twits.each do |twit| %>
	<li class="a">
		
		<%= link_to twit.name, twit , class: "text-decoration-none, btn btn-create"%>
		<ul>
		<%= truncate strip_tags(twit.body)%>
	</ul>
	<%= link_to "show twit", twit, class: "btn btn-info"%>
	</li>
	<%end%>
	</ul>
	
	
	

	<%= paginate @twits %>
	<% end %>